# Resend API Key for email notifications
RESEND_API_KEY=

# PayPal Credentials (SANDBOX ONLY)
# Client ID for frontend SDK
VITE_PAYPAL_CLIENT_ID=AcLaKfnVtv_ClcOAZz6dIC6W13u3VHi6nFJN2nBOtavdVa_87xGvS7OXv8citScrGhib3SJG_Vb0p9ST
# Client Secret for backend API calls
PAYPAL_CLIENT_SECRET=EANUe5PmP_4-7vvP3zqWEbkn3CrJGvx5QnZ2XWLA95mGQiaUQP4rxv2XGgkO8hQ2hBwOfA1Oymi6CXv0
# Environment Mode
PAYPAL_MODE=sandbox
